.black-txt {
    color: black;
}

.back-color {
    background-color: black;
}

.back-color:hover {
    background-color: white;
}

.carousel-control-next-icon:hover {
    background-color: black;
}

.grey {
    background-color: gray;
}

.text-zag {
    border: 1px double #79B8FF;
    border-radius: 20%;
    margin-left: 10%;
    margin-right: 90%;
    margin-top: 2%;
    height: 10%;
    color: black;
    background-color: #F2F8FF;
    padding: 2%;
    width: 20%;
    text-align: center;
    animation-name: animatelogodayte;
}

.border-card {
    border: solid 2px #79B8FF;
}

@keyframes animatelogodayte {
    0% {
        border-color: #F49528;
    }
    100% {
        border-color: #F49559;
    }
}