* {
    padding: 0;
    margin: 0;
}

img {
    width: 450px;
}

.black-txt {
    color: black;
}

.back-color {
    background-color: black;
}

.back-color:hover {
    background-color: white;
}

.carousel-control-next-icon:hover {
    background-color: black;
}

.grey {
    background-color: gray;
}

.border-card {
    background-color: #F5F7FF;
    width: 100%;
    height: auto;
}

.border-card {
    min-width: 450px;
    min-height: auto;
}

.text-zag {
    margin-top: 2%;
    height: auto;
    color: black;
    background-color: #F5F7FF;
    padding: 2%;
    text-align: center;
    animation-name: animatelogodayte;
}

.border-card {
    margin-top: 2%;
    border: solid 2px #F8F9FA;
    border-radius: 2%;
}

@keyframes animatelogodayte {
    0% {
        border-color: #F49528;
    }
    100% {
        border-color: #F49559;
    }
}